In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from ydata_profiling import ProfileReport

In [2]:
data = pd.read_csv("bank_transactions.csv", low_memory=False)

In [3]:
data['TransactionTime'] = data['TransactionTime'].apply(lambda x: x / 10000)
data['TransactionTime'] = np.floor(data['TransactionTime'])
data['CustAccountBalance'] = np.floor(data['CustAccountBalance'])

In [4]:
data['CustomerDOB'] = pd.to_datetime(data['CustomerDOB'])
data['TransactionDate'] = pd.to_datetime(data['TransactionDate'])
indices = data.loc[data['CustomerDOB'].dt.year < 1900].index
# Eliminar las filas seleccionadas del DataFrame
data.drop(indices, inplace=True)
indices = data.loc[data['CustomerDOB'].dt.year > 2020].index
# Eliminar las filas seleccionadas del DataFrame
data.drop(indices, inplace=True)


data['CustomerDOB'] = data['CustomerDOB'].dt.year
data['TransactionDate'] = data['TransactionDate'].dt.week

C:\Users\juanc\AppData\Local\Temp\ipykernel_14264\2426850851.py:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data['TransactionDate'] = data['TransactionDate'].dt.week

In [5]:
data = data.dropna()

In [6]:
indices = data.loc[data['CustGender'] == 'T'].index

# Eliminar las filas seleccionadas del DataFrame
data.drop(indices, inplace=True)
mapeo = {'F': 0, 'M': 1,}

# Aplicar la función map() a la columna 'género' para convertir los valores en valores numéricos
data['CustGender'] = data['CustGender'].map(mapeo)

In [7]:
#ubicacion_dummy = pd.get_dummies(data['CustLocation'])

# Concatenar el DataFrame original con el DataFrame de variables dummy
#data = pd.concat([data, ubicacion_dummy], axis=1)

In [8]:
data = data.loc[:, data.columns != 'CustLocation']
data = data.loc[:, data.columns != 'TransactionID']
data = data.loc[:, data.columns != 'CustomerID']
data = data.loc[:, data.columns != 'CustLocation']

In [9]:
#x = data.values #returns a numpy array
#min_max_scaler = preprocessing.MinMaxScaler()
#x_scaled = min_max_scaler.fit_transform(x)
#data = pd.DataFrame(x_scaled)

In [10]:
data.head()

,CustomerDOB,CustGender,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,1994.0,0,17819.0,6,14.0,25.0
2,1996.0,0,17874.0,6,14.0,459.0
3,1973.0,0,866503.0,6,14.0,2060.0
4,1988.0,0,6714.0,6,18.0,1762.5
6,1992.0,0,973.0,6,17.0,566.0

In [12]:
data.to_csv('cleaned_bank_transactions.csv', index=False)

In [ ]:
# Generar un informe detallado de los datos
profile = ProfileReport(data, title="CompleteDataset", explorative=True)

# Guardar el informe en un archivo HTML
profile.to_file("CompleteDataset.html")